<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="students" action="/addStudent" method="post">
      <input type="text" name="studentID" placeholder="put student ID here">
      <input type="text" name="points" placeholder="put points here">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
