<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<form class="" action="thx.ejs" method="post" >
  <center>
    <h1>Points Page</h1>
  <input type="text" name="" placeholder="Student ID">
  <br><br>
  <input type="submit" name="" value="Submit">
  <br><br>
  <input type="button" name="" value="Add Points">
  <br><br>
  <input type="button" name="" value="Remove Points">
</center>

</form>


<script type="text/javascript">
// profesionalism
//empathy
//innovation
//optimism
//integrity
//perseverance

student={
  points:0
}

function addPoints(){
  student.points += 5
  alert(`Student Points: ${student.points}`)
}
function removePoints(){
  student.points -= 5
  alert(`Student Points: ${student.points}`)
}


</script>
</html>
