<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Finished</title>
  </head>
  <body>

      <center>
        <h1>Information Was Sent And Recieved</h1>
        <input type="button" onclick="teacher.ejs" value="Teacher Page">
        </center>

  </body>
</html>
